body {
    font-family: 'Garamond', serif;
}

p {
    font-size: 20px;
}

.banner-header {
    background-image: url(/img/banner-modified.png) ; 
    height:60dvh; 
    display:flex; 
    justify-content: center; 
    align-items: center;
}

.img-width {
    width: 50%;
    margin-top: 50px;
}

.romans-container {
    display:flex; 
    justify-content: center; 
    align-items: center;
}

.book-title {
    height: 150px;
}

section img {
    width: 100%;
}

@media (max-width: 768px) {
    .img-width {
        width: 100%;
    }
}